
# Arduino Personnal File #
/CodeArduino/ESPTable/PersonnalData.h

# Eclipse files #
src/Release/
*.project
.settings
*.cproject
src/.ino.cpp
src/src.ino

# Others #
winscp556/WinSCP.ini
*.bin
CodeArduino/ESPTable/update.bat
